@use "../global" as global;

.l-blog {
    position: relative;
    z-index: map-get(global.$layer, "default");
    padding-top: 110px;
    padding: 0 150px;
    margin: 60px auto 160px;

    @include global.mq('sp') {
        padding: 0 15px;
        margin: 60px auto 100px;
    }

    &__inner {
        @include global.mq('pc') {
            display: flex;
            justify-content: space-between;
            width: 1010px;
            margin: 0 auto;
        }
    }
}