@use "../global" as global;

.p-medical {
    background: global.$sub-color02;

    &__ttl {
        text-align: center;
    }

    &__main {
        &-items {}

        &-item {
            margin-bottom: 80px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-ttl-wrap {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-bottom: 32px;
        }

        &-ttl {
            font-size: 28px;

            @include global.mq('sp') {
                font-size: 20px;
            }
        }

        &-subttl1,
        &-subttl2 {
            display: inline-block;
            padding: 8px 12px;
            border-radius: 24px;
            font-size: 14px;
            color: global.$text-color2;
            letter-spacing: 1.12px;
            margin-left: 24px;
            vertical-align: middle;
        }

        &-subttl1 {
            background: global.$main-color;
        }

        &-subttl2 {
            background: global.$accent-color;
        }

        &-btn-wrap {
            @include global.mq('sp') {
                text-align: center;
            }

            @include global.mq('pc') {
                display: flex;
                justify-content: left;
            }

            @include global.mq('tab') {
                display: flex;
                justify-content: left;
            }
        }

        &-btn {
            border: solid 2px global.$main-color;
            background: global.$text-color2;
            border-radius: 12px;

            &:last-child {
                margin-right: 0px;
            }

            @include global.mq('pc') {
                padding: 20px 32px;
                margin-right: 16px;
            }

            @include global.mq('tab') {
                padding: 20px 12px;
                margin-right: 16px;
            }

            @include global.mq('sp') {
                padding: 16px 0;
                display: inline-block;
                width: 100%;
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        &-link {
            color: global.$main-color;
        }
    }

    &__items {
        @include global.mq('sp') {
            padding: 0 20px 100px;
        }
    }

    @include global.mq('sp') {

        &__item {
            width: 100%;
            margin: 0 auto;
            background: global.$text-color2;
            border-radius: 20px;
            margin-top: 40px;
            padding: 24px 20px 20px 20px;

            &-top {
                position: relative;
                padding-bottom: 20px;
                border-bottom: solid 1px #C2C2C2;
                margin-bottom: 20px;
            }

            &-ttlwrap {
                text-align: left;
            }

            &-head {
                font-size: 20px;
                letter-spacing: 1.6px;
                margin-bottom: 20px;
            }

            &-lead {
                color: global.$main-color;
                font-size: 14px;
            }

            &-label {
                position: absolute;
                top: -24px;
                right: 5px;
                width: 80px;
                height: 60px;
            }

            &-body {}

            &-text {
                font-size: 14px;
            }

            &-img {
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    @include global.mq('tab') {

        &__item {
            width: calc(100% - 80px);
            margin: 0 auto;
            background: global.$text-color2;
            border-radius: 20px;
            margin-top: 40px;
            padding: 24px 30px 30px 30px;

            &-top {
                position: relative;
                padding-bottom: 20px;
                border-bottom: solid 1px #C2C2C2;
                margin-bottom: 20px;
            }

            &-ttlwrap {
                text-align: left;
            }

            &-head {
                font-size: 20px;
                letter-spacing: 1.6px;
                margin-bottom: 20px;
            }

            &-lead {
                color: global.$main-color;
                font-size: 14px;
            }

            &-label {
                position: absolute;
                top: -24px;
                right: 5px;
                width: 80px;
                height: 60px;
            }

            &-body {}

            &-text {
                font-size: 14px;
            }

            &-img {
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    @include global.mq('pc') {
        &__item {
            width: 1000px;
            margin: 0 auto;
            background: global.$text-color2;
            border-radius: 20px;
            padding: 55px 60px 60px 60px;
            margin-top: 40px;

            &:first-child {
                margin-top: 60px;
            }

            &-top {
                position: relative;
                padding-bottom: 40px;
                border-bottom: solid 1px #C2C2C2;
                margin-bottom: 40px;
            }

            &-ttlwrap {
                display: flex;
                justify-content: left;
                align-items: center;
            }

            &-head {
                font-size: 28px;
                letter-spacing: 2.24px;
            }

            &-lead {
                margin-left: 40px;
                color: global.$main-color;
                font-size: 14px;
            }

            &-label {
                position: absolute;
                top: -55px;
                right: 20px;
                width: 100px;
                height: 80px;
            }

            &-body {
                display: flex;
                justify-content: space-between;
            }

            &-text {
                font-size: 14px;
            }

            &-img {
                min-width: 420px;
                margin-left: 40px;
            }
        }
    }
}

.first {
    margin-top: 60px !important;
}